@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
   font-family: "Android";
   src: url("../fontes/idroid.otf") format("opentype"); 
   font-weight: normal;
}

* {
   margin: 0px;
   padding: 0px;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;

--fonte-padrão: arial, verdana, helvetica, sans-serif;
--fonte-destaque: "Bebas Neue", sans-serif;
--fonte-android: "Android", cursive;
}

body{
   background-color: var(--cor0);
   font-size: var(--fonte-padrão) ;
}
a.externo::after {
   content: "\0020\1F517";
}
header {
   background-color: var(--cor4);
   min-height: 150px;
   text-align: center;
   padding: 40px;
   background-image:linear-gradient(to bottom, var(--cor3), var(--cor5));
   font-weight: normal;
}
header > h1{
color: white;
font-family: var(--fonte-destaque);
font-size: 3em;
margin-bottom: 10px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.692);
font-weight: normal;
}
header > p {
   color: white;
   font-family: var(--fonte-padrão);
   font-size: 1.2em;
   max-width: 500px;
   margin: auto;
   padding-right: 10px;
   padding-left: 10px;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.692);
   margin-bottom: 25px;
}
nav {
   background-color: var(--cor5);
   padding: 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.63);
}
nav > a {
color: var(--cor1);
padding: 9px;
text-decoration: none;
font-weight: bolder;

}
nav > a:hover {
   background-color: var(--cor3);
   color: var(--cor5);
   border-radius: 6px;
   transition-duration: 0.5s;
}
main {
   background-color: white;
 min-width: 200px;
 max-width: 1000px;
 margin: auto;
 padding: 20px;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
 margin-bottom: 15px;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

main h1{
   color: var(--cor5);
   font-family: var(--fonte-android);
   font-weight: normal;
   font-size: 1.8em;
}
main h2 {
font-family: var(--fonte-android);
color: var(--cor4);
font-size: 1.5em;
background-image: linear-gradient(to right, var(--cor1), transparent);
text-indent: 8px;
font-weight: normal;
}
main img{
   max-width: 1000px;
   width: 100%;
}
main img.pequeno{
   max-width: 350px;
   display: block;
   margin: auto;
}
main p {
   margin: 13px 3px;
   text-indent: 20px;
   text-align: justify;
   line-height: 1.6em;
   font-size: 1em;
}
main strong {
   color: var(--cor4);
   font-weight: bolder;
   
}
main a {
   background-color: var(--cor1);
   padding: 2px 6px;
   text-decoration: none;
   font-weight: bold;
 color: var(--cor4);
}
main a:hover {
   text-decoration: underline;
   color: var(--cor0);
}
div.video {
   background-color: var(--cor5);
   margin: 0px -20px 30px -20px;
   padding: 20px;
   position: relative;
   padding-bottom: 55%;
}
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;

}
aside {
 background-color: var(--cor1);
 padding: 10px;
 border-radius: 5px;
 box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.555);
}
 aside > ul {
 list-style-position: inside;
 columns: 2;
 list-style-type: "\2714\0020";
 }
  aside > h3 {
 background-color: var(--cor4);
 color: white;
 padding: 10px;
 margin: -10px -10px 0px -10px;
 border-radius: 10px 10px 0px 0px;
  }
footer {
 background-color: var(--cor5);  
 color: white;
 text-align: center;
 font-size: 0.5em;
 padding: 5px;
}
footer a {
   color: white;
   font-weight: bold;
   text-decoration: none;
}
footer a:hover {
   text-decoration: underline;
   color: var(--cor2);
}